<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <form (ngSubmit)="login()">
      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input type="text" [(ngModel)]="registerCredentials.email" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>pass</ion-label>
        <ion-input type="password" [(ngModel)]="registerCredentials.password" name="pass"></ion-input>
      </ion-item>
      
         <button ion-button type="submit" block>Login</button>
    </form>
    <button ion-button block (click)="LoadRegister()" >Register</button>
  
     
</ion-content>
