
<ion-header  >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   
    <ion-title>Team Archive</ion-title>
 
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-grid>
    <ion-row>

     <ion-col >
         <ion-card class="background">
        <div class="text" >
         Archive
        </div>
        <ion-card-content>
          <ion-card *ngFor="let item of TeamTasks | async">
                               
                              <ion-card-header>
                                <ion-item>
                                 <ion-title>{{item.Title}}</ion-title>
                                 <!--<button ion-button  item-right (click)="RemoveItem(item)">Remove</button>-->
                                   <!--<button item-right ion-button round (click)="ArchiveTeamTask(item)">Archive</button>-->
                                </ion-item>
                   
                              </ion-card-header>
                              <ion-card-content>
                                  <ion-item>
                                             <ion-avatar item-start>
                                             <h3 item-left >Created by:<span style="color: #ff0000"> {{item.creatorName}}</span></h3>
                                            </ion-avatar>
                                            <ion-avatar item-end>
                                              <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="item.date" ></ion-datetime>
                                            </ion-avatar>
                                          </ion-item>
                                           <ion-textarea rows="6" [value]="item.Content" readonly></ion-textarea>
                                
                               <ion-item>    
                                      <ion-toggle  [(ngModel)]="item.IsDone" (ionChange)="ToggleChangeTeam(item)" ></ion-toggle>
                                  </ion-item>
                                  
                              </ion-card-content>
                            </ion-card>
        </ion-card-content>
      </ion-card>


    </ion-col>
       </ion-row>
  </ion-grid>
</ion-content>
