<!--
  Generated template for the TeamCreationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header  >
  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>



<ion-list >
  <ion-list-header color="secondary">
    Create Team
  </ion-list-header>

    <ion-item>
      <ion-input type="text" placeholder="Team Name" required [(ngModel)]="text"></ion-input>
    </ion-item>
    <ion-item >
    <button ion-button item-right color="secondary" icon-left (click)="createTeam()">
      <ion-icon name='people'></ion-icon>
      Create
    </button>
    </ion-item>

</ion-list>

<!--<ion-card>
  <ion-card-header>
    Joing a team By id
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input type="text" placeholder="team id"  [(ngModel)]="JoinId" ></ion-input>
    </ion-item>
    <button ion-button full (click)="joinTeamById()">Join</button>
  </ion-card-content>
</ion-card>-->
</ion-content>
