<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input type="text" [(ngModel)]="registerCredentials.email" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>pass</ion-label>
        <ion-input type="password" [(ngModel)]="registerCredentials.password" name="pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input [(ngModel)]="registerCredentials.NickName" name="Name"></ion-input>
      </ion-item>
      <button ion-button (click)="SignUp()" block>Register</button>
   
</ion-content>
