<!--
  Generated template for the TaskCreationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>task-creation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>

  <ion-item>
    <ion-input type="text" placeholder="Title"[(ngModel)]="task.Title" ></ion-input>
    
  </ion-item>
  <ion-item>

      <ion-label>User</ion-label>
      <ion-select [(ngModel)]="user">
     <ion-option *ngFor="let item of users" value="{{item}}">{{getUserName(item)}}</ion-option>

      </ion-select>

  </ion-item>
  <ion-item>
   <ion-textarea placeholder="content" [(ngModel)]="task.Content"></ion-textarea>
  </ion-item>

  <!--<ion-item>
    <ion-label>Is Team task</ion-label>
    <ion-toggle [(ngModel)]="task.IsTeamTask" ></ion-toggle>
  </ion-item>-->
  <ion-item>
    <ion-label>Urgent</ion-label>
    <ion-toggle [(ngModel)]="urgent" ></ion-toggle>
  </ion-item>
</ion-list>
<button ion-button full (click)="AddTask()">Add</button>
</ion-content>
