<!--
  Generated template for the TeamJoinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>team-join</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-item>
  <ion-input type="text" placeholder="Team Id" [(ngModel)]="id" ></ion-input>
</ion-item>
<button ion-button block (click)='joinTeam()' >Join</button>
</ion-content>
