
<ion-header  >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   
    <ion-title>Home</ion-title>
 
   <ion-buttons end>
      <button ion-button item-right (click)="signOut()">signout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-fab right bottom class="ion-fab" >
    <button ion-fab  color="primary"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="opencreate()" color="primary"><ion-icon name="add-circle"></ion-icon></button>
    
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card class="backgroundUrg">
        <div class="text" >
         Urgent
        </div>
        <ion-card-content>
          <ion-card *ngFor="let item of UrgentTasks | async" >
                               
                              <ion-card-header>
  
                               
                                          <ion-navbar>
                                            
                                          <ion-title >{{item.Title}}</ion-title>
                                        
                                          <ion-buttons end>
                                          <button ion-button icon-only (click)="ArchiveUrgentTask(item)">
                                            
                                            <ion-icon name='archive' ></ion-icon>
                                          </button>
                                          </ion-buttons>
                                        </ion-navbar>
                              </ion-card-header>
                              <ion-card-content>
                                  <ion-item>
                                            <ion-avatar item-start>
                                             <h3 item-left >Created by:<span style="color: #ff0000"> {{item.creatorName}}</span></h3>
                                            </ion-avatar>
                                            
                                            <ion-avatar item-end>
                                              <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="item.date" ></ion-datetime>
                                            </ion-avatar>
                                             <ion-avatar item-start>
                                             <h3 item-left >For:<span style="color: #ff0000"> {{item.ReceiverName}}</span></h3>
                                            </ion-avatar>
                                          </ion-item>
                                           <ion-textarea rows="4" [value]="item.Content" readonly></ion-textarea>
                                
                               <ion-item>    
                                  <ion-label disabled>Done</ion-label>
                                      <ion-toggle  [(ngModel)]="item.IsDone" (ionChange)="ToggleChangeTeamUrg(item)" ></ion-toggle>
                                  </ion-item>
                                  
                              </ion-card-content>
                            </ion-card>
        </ion-card-content>
      </ion-card>


    </ion-col>
    </ion-row>
    <ion-row>
  
    <!--<ion-col >
      <ion-card class="background">
        <div class="text" >
         Tasks
        </div>
        <ion-card-content>
          <ion-card *ngFor="let item of MyTasksItem | async">
                               
                              <ion-card-header>
                                <ion-item>
                                 <ion-title>{{item.Title}}</ion-title>
                                 <button ion-button  item-right (click)="RemoveItem(item)">Remove</button>
                                </ion-item>
                   
                              </ion-card-header>
                              <ion-card-content>
                                  <ion-item>
                                            <ion-avatar item-start>
                                             <h3 item-left>Created by: {{item.creatorName}}</h3>
                                            </ion-avatar>
                                            <ion-avatar item-end>
                                              <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="item.date"  ></ion-datetime>
                                            </ion-avatar>
                                          </ion-item>
                                           <ion-textarea rows="4" [value]="item.Content" readonly></ion-textarea>
                                
                               <ion-item>    
                                      <ion-toggle  [(ngModel)]="item.IsDone" (ionChange)="ToggleChangeMy(item)"></ion-toggle>
                                  </ion-item>
                                  
                              </ion-card-content>
                            </ion-card>
        </ion-card-content>
      </ion-card>



    </ion-col>-->
     <ion-col >
        <ion-card class="background">
        <div class="text" >
         Team Tasks
        </div>
        <ion-card-content>
          <ion-card *ngFor="let item of TeamTasks | async">
                               
                              <ion-card-header>
  
                               
                                          <ion-navbar>
                                            
                                          <ion-title >{{item.Title}}</ion-title>
                                        
                                          <ion-buttons end>
                                          <button ion-button icon-only (click)="ArchiveTeamTask(item)">
                                            
                                            <ion-icon name='archive' ></ion-icon>
                                          </button>
                                          </ion-buttons>
                                        </ion-navbar>
                              </ion-card-header>
                              <ion-card-content>
                                  <ion-item>
                                            <ion-avatar item-start>
                                             <h3 item-left >Created by:<span style="color: #ff0000"> {{item.creatorName}}</span></h3>
                                            </ion-avatar>
                                            
                                            <ion-avatar item-end>
                                              <ion-datetime disabled displayFormat="MM/DD/YYYY" [(ngModel)]="item.date" ></ion-datetime>
                                            </ion-avatar>
                                             <ion-avatar item-start>
                                             <h3 item-left >For:<span style="color: #ff0000"> {{item.ReceiverName}}</span></h3>
                                            </ion-avatar>
                                          </ion-item>
                                           <ion-textarea rows="4" [value]="item.Content" readonly></ion-textarea>
                                
                               <ion-item>    
                                  <ion-label disabled>Done</ion-label>
                                      <ion-toggle  [(ngModel)]="item.IsDone" (ionChange)="ToggleChangeTeam(item)" ></ion-toggle>
                                  </ion-item>
                                  
                              </ion-card-content>
                            </ion-card>
        </ion-card-content>
      </ion-card>


    </ion-col>
       </ion-row>
  </ion-grid>
 
</ion-content>
