page-home {
.ion-fab{
    position: fixed;
    margin-right: 10px;
}
.background{
    background: #2196F3;
    
}
.backgroundUrg{
    background: #e53935;
    
}


.text{
     font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

}
