<!--
  Generated template for the TeamViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header  >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teams View</ion-title>
   
  </ion-navbar>
</ion-header>


<ion-content padding>
   <ion-fab Bottom right>
    <button ion-fab ><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
       <button ion-button round icon-left (click)="openCreate()" ><ion-icon name="people"></ion-icon> Create Team</button>
       <button ion-button round icon-left (click)="openJoin()"  ><ion-icon name="people"></ion-icon>Join Team</button>

    </ion-fab-list>
  </ion-fab>
<ion-card *ngIf="haveTeam" >
  <ion-card-header color="primary" >
  <ion-title text-center >{{team.Name}}</ion-title>  
 
  <ion-item>
    <ion-label >Team Id:</ion-label>
   <button id="cpyBtn" ion-button item-right small round data-clipboard-target="#copyTarget">
  Copy
</button>
  </ion-item>
 <textarea id="copyTarget" [value]="team.Id" readonly  rows="1" cols="10"></textarea>
  </ion-card-header>
  <ion-card-content>
    <ion-list inset >   
      <ion-list-header >
    Memebers
  </ion-list-header>
      <ion-item *ngFor="let item of teamMembers"  >
        {{item}}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="haveTeam">
  <ion-card-header>
    Team chat
  </ion-card-header>
  <ion-card-content>
    <ion-list inset >
     
      <ion-card *ngFor="let item of chatObserve | async" >
        <ion-card-header>
           {{item.content}}
        </ion-card-header>
        <ion-card-content>
          <ion-item >
            <h3 item-sart> </h3>
              <ion-avatar item-start>
              <h3 item-left>{{item.senderName}}</h3>
             </ion-avatar>
                   <ion-avatar item-end>
             <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="item.date" ></ion-datetime>
                </ion-avatar>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-item>
      <ion-label floating >message</ion-label>
      <ion-input type="text" [(ngModel)]="message" ></ion-input>
    </ion-item>
    <button ion-button block (click)="AddChat()">Send Message</button>
  </ion-card-content>
</ion-card>
</ion-content>
